
<h1>Error</h1>
<div>
    <label>La cantidad de tabletas son mayor a las que tiene registradas el provedor</label>
    <label>@ViewBag.Cantidadprovedor  </label>
</div>

<div>
    <label>La cantidad de tabletas son mayor a las que tiene registradas</label>
    <label>@ViewBag.cantidadinstitucion  </label>
</div>