@model MvcApplication8.Models.Entregas

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
 <div>
    </div>
 <div>
        
    </div>

<input type="text" class="form-control" name="cct_int" id="cct_int" placeholder="Intitución">
  